ion-content{
  h3, h4{
    margin: 0;
  }
  ion-row{
    ion-col{
      text-align: center;
    }
    ion-col:first-child{
      text-align: left;
    }
    ion-col:last-child{
      text-align: right;
    }
  }
  .header{
    margin: 16px;
  }
  .list-item{
    padding: 16px;
    align-items: center;
    border-top: 1px solid #E6E6E6FF;
    ion-col{
      overflow: hidden;
      h4{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    ion-button{
      font-size: 12px;
    }
    h4{
      font-size: 14px;
    }
  }
}
