<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>审核</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-label color="medium">任务图片</ion-label>
  <div class="ion-padding-horizontal" *ngFor="let i of reviews[0]; let j = index">
    <div>
      <ion-label>
        <ion-badge>{{j + 1}}</ion-badge>
        <ion-text>
          {{i.desc}}
        </ion-text>
      </ion-label>
      <ion-item class="pic">
        <ion-img [src]="url + i.img" class="w-50"></ion-img>
        <ion-img [src]="url + workPics[j]" class="w-50"></ion-img>
      </ion-item>
    </div>
  </div>

  <ion-label color="medium">文字验收</ion-label>
  <div>
  <ion-item *ngIf="task && task.note">
    <ion-text>{{task.note}}</ion-text>
  </ion-item>
  <ion-item *ngIf="apply && apply.note">
    <ion-text>{{apply.note}}</ion-text>
  </ion-item>
  </div>

  <ion-label color="medium">审核</ion-label>
  <ion-radio-group (ionChange)="check($event)" value="{{choice}}">
    <ion-item>
    <ion-item>
      <ion-label>通过</ion-label>
      <ion-radio [disabled]="approved || denied" slot="start" value="1"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>拒绝</ion-label>
      <ion-radio [disabled]="approved || denied" slot="start" value="0"></ion-radio>
    </ion-item>
    </ion-item>
  </ion-radio-group>

  <ion-label class="hint" color="medium">温馨提示：发布的任务涉黄、毒、赌，传销，虚假宣传，暴力恐
    怖，谣言诈骗等违规违法信息将不予通过。</ion-label>
  <ion-button [disabled]="approved || denied || choice == -1" expand="block" (click)="approve()">提交审核结果</ion-button>
</ion-content>
