<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>占领格子</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item>
    <ion-textarea rows="7" placeholder="你想对大家说..." [(ngModel)]="body"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-thumbnail *ngFor="let i of pics">
      <img [src]="url + i">
    </ion-thumbnail>
    <input class="ion-hide" type="file" (change)="uploadPhoto($event, 'pic')" #fileUpload>
    <ion-icon name="image-sharp" size="large" (click)="fileUpload.click()"></ion-icon>
  </ion-item>

  <ion-label color="medium">在城市格子上展示的封面</ion-label>
  <ion-item>
    <ion-label>上传封面</ion-label>
    <ion-icon *ngIf="!cover" name="image-sharp" (click)="fileUpload0.click()"></ion-icon>
    <ion-thumbnail *ngIf="cover" (click)="fileUpload0.click()">
      <img [src]="url + cover">
    </ion-thumbnail>
    <input class="ion-hide" type="file" (change)="uploadPhoto($event, 'cover')" #fileUpload0>
  </ion-item>

  <ion-label color="medium">在城市格子上展示的天数</ion-label>
  <ion-item>
    <ion-label>展示天数</ion-label>
    <ion-input placeholder="最低10天起步" [(ngModel)]="days"></ion-input>
  </ion-item>

  <ion-label></ion-label>
  <ion-item>
    <ion-label>竞价购买</ion-label>
    <ion-input placeholder="最低1.0元/天起步" [(ngModel)]="price"></ion-input>
  </ion-item>

  <ion-label color="medium">支付金额</ion-label>
  <ion-item>
    <ion-text color="danger">¥ {{days * price}}</ion-text>
  </ion-item>

  <ion-button expand="block" routerLink="/pay" [queryParams]="{total: days * price}">发布</ion-button>
</ion-content>
