ion-content{
  ion-textarea{

  }
  >ion-label{
    font-size: 14px;
    display: block;
    margin: 14px;
  }
  >ion-item:first-child{
    margin-top: 10px
  }
  >ion-item{
    --padding-start: 16px;
    --padding-end: 16px;
    ion-input{
      margin-left: 20px;
    }
  }
  ion-button{
    margin: 16px;
  }
}
