<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-text class="ion-text-end"><h5>注册</h5></ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="logo-wrapper">
    <ion-thumbnail class="logo ion-no-border"></ion-thumbnail>
  </ion-item>

  <ion-input class="input ion-margin-bottom" autofocus="true" placeholder="请输入您的账号"> </ion-input>
  <ion-input class="input" type="password" placeholder="请输入您的密码"> </ion-input>
  <ion-text class="small-links ion-text-end">
    <p>忘记密码？</p>
  </ion-text>
  <ion-button expand="block" class="">登录</ion-button>

  <ion-text class="small-links ion-text-center">
    <p>其它登录方式</p>
  </ion-text>
  <ion-item class="login-methods">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto" class="circle ion-justify-content-center ion-align-items-center">
          <ion-thumbnail>
            <ion-img src="assets/img/alipay.png"></ion-img>
          </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

</ion-content>
