<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-text slot="end" routerLink="/signup" class="ion-text-end"><h5>注册</h5></ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-item class="logo-wrapper">
    <ion-thumbnail class="logo ion-no-border">
      <img src="../assets/img/logo.png">
    </ion-thumbnail>
  </ion-item>

  <ion-input class="input ion-margin-bottom" name="username" [(ngModel)]="postData.username" autofocus="true" clearInput="true" placeholder="请输入您的账号"> </ion-input>
  <ion-input class="input" type="password" name="password" [(ngModel)]="postData.password" clearInput="true" placeholder="请输入您的密码"> </ion-input>
  <ion-text class="small-links ion-text-end">
    <p>忘记密码？</p>
  </ion-text>
  <ion-button (click)="loginAction()" expand="block" class="">登录</ion-button>

</ion-content>
