<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>股东大会</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div *ngFor="let i of [].constructor(5)" routerLink="/equity/meeting/node">
    <h2>118：二算众然太论小包为门教被院七</h2>
    <p>
    <ion-text color="medium">提案人：张多少</ion-text>
    </p>
    <ion-icon name="thumbs-up-sharp" color="medium"></ion-icon>
    <ion-text color="medium" class="yes">同意 48598票</ion-text>
    <ion-icon name="thumbs-down-sharp" color="medium"></ion-icon>
    <ion-text color="medium">反对 3586票</ion-text>
  </div>

</ion-content>
