<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>股东大会</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div *ngFor="let i of posts" routerLink="/equity/meeting/node" [queryParams]="{id: i.id}">
    <h2>{{i.title}}</h2>
    <p>
    <ion-text color="medium">提案人：{{i.author.username}}</ion-text>
    </p>
    <ion-icon name="thumbs-up-sharp" color="medium"></ion-icon>
    <ion-text color="medium" class="yes">同意 {{i.up}}票</ion-text>
    <ion-icon name="thumbs-down-sharp" color="medium"></ion-icon>
    <ion-text color="medium">反对 {{i.down}}票</ion-text>
  </div>

</ion-content>
