<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>推荐</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item class="title">
    <ion-label>任务名称</ion-label>
    <ion-input value="{{title}}" required readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>结束时间</ion-label>
    <ion-input type="number" readonly>{{recommendUntil | date: "MM月dd日 HH:mm"}}</ion-input>
  </ion-item>
  <ion-label class="label" color="medium">支付金额</ion-label>
  <ion-item class="price">
    <ion-text color="danger">¥ {{price}}</ion-text>
  </ion-item>
  <ion-button expand="block" (click)="recomm()">立即支付</ion-button>

</ion-content>
