<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">领股权</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-thumbnail class="gxb" (click)="collectGxb()" id="text">
    <img src="../../../assets/img/equity_collect_gxb.png">
  </ion-thumbnail>
  <ion-thumbnail class="coins">
    <img src="../../../assets/img/equity_collect_coins.png">
  </ion-thumbnail>
  <ion-thumbnail class="bag">
    <img src="../../../assets/img/equity_collect_bag.png">
  </ion-thumbnail>

  <ion-item>
    <ion-list>
      <ion-item class="list-header">
        <div class="bar"></div>
        <h3>最新动态</h3>
      </ion-item>

      <ion-item class="list-item" *ngFor="let i of hists">
        <ion-thumbnail>
          <img src="../../../assets/img/equity_collect_gxb.png">
        </ion-thumbnail>
        <div>
          <h4>获得GXB</h4>
          <ion-text color="medium">{{i.date | date:'yyyy年M月d日 HH:mm:ss'}}</ion-text>
        </div>
        <ion-text slot="end" color="danger">+{{i.amount}}</ion-text>
      </ion-item>

    </ion-list>
  </ion-item>
</ion-content>
