ion-header{
    ion-toolbar{
      --background: none;
    }
}
ion-content{
  .mygxb{
      --background: none;
      --padding-end: 0;
      position: absolute;
      right: 0;
      top: 72px;
      margin: 0;
      width: 125px;
      overflow: visible;
      ion-avatar{
          position: absolute;
          width: 44px;
          height: 44px;
          margin: 0 4px;
          left: -26px;
      }
      div{
          background: #f7d3d1;
          height: 44px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          p{
              text-align: center;
              margin: 0;
              font-size: 14px;
              ion-text{
                  font-weight: 900;
                  color: #FF3B2F;
              }
          }
          p.label{
            font-size: 10px;
          }
      }
  }
  h4{
    margin: 0;
    font-size: 16px;
  }
  --offset-top: 46px !important;
  --background: #F5F5F5 url("../../../assets/img/equity_collect_bg.png") top/contain no-repeat;
  .gxb{
    --size: 28px;
    position: relative;
    left: 224px;
    top: 115px;
    z-index: 1;
  }
  .coins{
    width: 350px;
    height: 154px;
    margin: auto;
    position: relative;
    bottom: -83px;
    z-index: -1;
  }
  .bag{
    width: 318px;
    height: 252px;
    margin: auto;
  }
  >ion-item{
    margin: 16px;
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: .25em;
    ion-list{
      width: 100%;
      .list-header{
        .bar{
          background-color: #FF3B2FFF;
          width: 4px;
          height: 38%;
          border-radius: .5em;
          margin-right: 6px;
        }
      }
      .list-item{
        border-top: 1px solid #E6E6E6;
        padding: 16px 0;
        display: flex;
        align-items: flex-start;
        ion-thumbnail{
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
        div{
          ion-text{
            font-size: 14px;
          }
        }
      }
    }
  }
}
