<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="user">
  <input class="ion-hide" accept="image/*" type="file" (change)="uploadPhoto($event)" #fileUpload>
  <ion-item class="avatar">
    <ion-text slot="start">头像</ion-text>
    <ion-item slot="end" (click)="fileUpload.click()">
      <ion-avatar>
        <img [src]="url + user.avatar">
      </ion-avatar>
    </ion-item>
  </ion-item>
  <ion-item button routerLink="/chpasswd">
    <ion-text slot="start">修改密码</ion-text>
  </ion-item>
  <ion-item routerLink="/chphone">
    <ion-text slot="start">修改手机号</ion-text>
    <ion-text slot="end" color="medium">{{user.phone}}</ion-text>
  </ion-item>
  <ion-item routerLink="/chpaypasswd">
    <ion-text slot="start">修改支付密码</ion-text>
  </ion-item>
  <ion-item detail="true" routerLink="/terms" [queryParams]="{id: 5}">
    <ion-text slot="start">关于</ion-text>
  </ion-item>
  <ion-item detail="true" (click)="checkUpdate()">
    <ion-text slot="start">版本 {{ver}}</ion-text>
  </ion-item>
  <ion-button expand="block" (click)="logout()">退出登录</ion-button>

</ion-content>
