<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>出售领地</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="data">
    <ion-label>领地</ion-label>
    <ion-input value="{{name}}" required readonly></ion-input>
  </ion-item>
  <ion-item class="data">
    <ion-label>购买价格</ion-label>
    <ion-input type="number" value="{{prePrice / 100}}" required readonly></ion-input>
  </ion-item>
  <ion-item class="data">
    <ion-label>出售价格</ion-label>

    <ion-select required [(ngModel)]="newPrice" interface="action-sheet" cancelText="取消">
      <ion-select-option *ngFor="let i of plist" value="{{i}}">{{i/100}}</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-button [disabled]="!newPrice" expand="block" size="large" type="submit" (click)="changePrice()">
      提交
    </ion-button>
</ion-content>
