<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ng-container *ngIf="node">
      <ion-title>{{node.type.name}}</ion-title>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal" *ngIf="node">
  <h2>{{node.title}}</h2>
  <p><ion-text *ngIf="node.author" color="medium" class="first">提案人: {{node.author.username}} </ion-text></p>
  <ion-text color="medium">时间: {{node.date | date:'yyyy年M月d日 HH:mm:ss'}}</ion-text>
  <p></p>
  <ion-text [innerHTML]="node.body"></ion-text>
</ion-content>

<ion-footer>
    <ion-button [disabled]="voted" class="sell" size="large" fill="outline" shape="round" color="primary" (click)="vote(true)">
      <ion-icon name="thumbs-up-sharp"></ion-icon>
      赞同</ion-button>
    <ion-button *ngIf="node && node.type.id != 2" [disabled]="voted" class="buy" size="large" fill="outline" shape="round" color="danger" (click)="vote(false)">
      <ion-icon name="thumbs-down-sharp"></ion-icon>
      反对</ion-button>
</ion-footer>
