<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">兑股权</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-thumbnail>
    <img src="../assets/img/exchange_bg.png">
  </ion-thumbnail>

  <div class="ex">
    <ion-item class="ratio">
      <ion-thumbnail>
        <img src="../assets/img/exchange_gxb.png">
      </ion-thumbnail>
      <div>
        <p>股权 <ion-text>{{equity}}</ion-text></p>
        <ion-text color="medium">当前兑换比例 {{rate}}：1</ion-text>
      </div>
    </ion-item>
    <ion-item>
      <ion-text color="medium" slot="start">剩余 {{remain}}</ion-text>
      <ion-text color="medium" slot="end">已取 {{taken}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-progress-bar color="warning" value="0.5"></ion-progress-bar>
    </ion-item>
    <ion-text slot="start">总量：{{total}}</ion-text>
    <ion-button expand="block" routerLink="/equity/exchange/apply">申请兑换</ion-button>
  </div>

  <div class="desc item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>兑换说明</h4>
    </ion-item>
    <ion-text color="medium" *ngIf="node">
      {{node.body}}
    </ion-text>
  </div>

</ion-content>
