<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>重置密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="ion-margin-bottom">
    <ion-input [(ngModel)]="cred" class="input" required type="text" placeholder="请输入用户名或手机号"> </ion-input>
  </ion-item>
  <ion-button [disabled]="!cred" (click)="chkcred()" expand="block" type="submit">确认</ion-button>
</ion-content>
