<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">我的领地</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="light" shape="round" routerLink="/land/hall">交易大厅</ion-button>
  <div class="income">
    <div>
      <ion-text color="medium" class="label">领地总收入</ion-text>
      <ion-text class="total">{{total / 100}}</ion-text>
    </div>
    <div class="secondary">
      <div>
        <ion-text>{{cellProfit / 100}}</ion-text>
        <ion-text color="medium" class="label">领地收益</ion-text>
      </div>
      <div>
        <ion-text>{{landProfit / 100}}</ion-text>
        <ion-text color="medium" class="label">转让收益</ion-text>
      </div>
    </div>
  </div>

  <div class="hist">
    <ng-template>
    <ion-segment value="my" [(ngModel)]="seg" (ionChange)="segChanged($event)">
      <ion-segment-button value="my">
        <ion-label>拥有的领地</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sold">
        <ion-label>卖出的领地</ion-label>
      </ion-segment-button>
    </ion-segment>
    </ng-template>

    <ng-container *ngIf="!showSold">
    <ion-item class="list" *ngFor="let i of myLands">
      <ion-thumbnail>
        <img src="../../assets/img/locate.png">
      </ion-thumbnail>
      <ion-text>{{i.name}}</ion-text>
      <div slot="end">
        <ion-text class="price">{{i.price / 100}}</ion-text>
        <ion-item (click)="changePrice(i)">
          <ion-text *ngIf="i.forSale" color="success" class="label">出售中</ion-text>
          <ion-text *ngIf="!i.forSale" color="danger" class="label">出售</ion-text>
        </ion-item>
      </div>
    </ion-item>
    </ng-container>

    <ng-container *ngIf="showSold">
    <ion-item class="list" *ngFor="let i of sold">
      <ion-thumbnail>
        <img src="../../assets/img/locate.png">
      </ion-thumbnail>
      <ion-text>{{i.name}}</ion-text>
      <div slot="end">
        <ion-text class="price">{{i.price}}</ion-text>
      </div>
    </ion-item>
    </ng-container>
  </div>
</ion-content>
