<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>发布管理</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button [value]="i.value" *ngFor="let i of statuses">
        <ion-label>{{i.label}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngFor="let i of tasks">
    <ion-item class="info">
      <ion-thumbnail slot="start">
        <img src="../assets/img/she.png">
      </ion-thumbnail>
      <div>
        <ion-text [routerLink]="i.link" class="title">{{i.title}}</ion-text>
        <ion-grid>
          <ion-row>
            <ion-col size=3>
              <ion-text color="medium">单价:{{i.price}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">总数:{{i.quantity}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">剩余:{{i.remain}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium"></ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">进行中:{{i.doing}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">待审核:{{i.preReview}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">已完成:{{i.done}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">未通过:{{i.failed}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
    <ion-item class="actions">
      <ion-label color="medium" [routerLink]="i.link" *ngFor="let i of actions">{{i.label}}</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
