<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>发布管理</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="all" [(ngModel)]="seg">
      <ion-segment-button [value]="i.value" *ngFor="let i of statuses">
        <ion-label>{{i.label}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ng-container *ngFor="let i of tasks; let j = index">
  <ion-card *ngIf="seg == 'all'
    || (!i.approved && seg == 'preApprove')
    || (i.approved && seg == 'approved')
    || (i.paused && seg == 'paused')
    || (i.stopped && seg == 'stopped')
    ">
    <ion-item class="info">
      <ion-thumbnail slot="start">
        <img *ngIf="i.owner.avatar; else elseBlock" [src]="envs.url + i.owner.avatar">
        <ng-template #elseBlock>
          <img src="../assets/img/she.png">
        </ng-template>
      </ion-thumbnail>
      <div>
        <ion-text [routerLink]="['/detail']" [queryParams]="{id:i.id}" class="title">{{i.title}}</ion-text>
        <ion-grid>
          <ion-row>
            <ion-col size=3>
              <ion-text color="medium">单价:{{i.price}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">总数:{{i.quantity}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">剩余:{{i.remain}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium"></ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">进行中:{{i.countApplies}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">待审核:{{i.preReview}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">已完成:{{i.done}}</ion-text>
            </ion-col>
            <ion-col size=3>
              <ion-text color="medium">未通过:{{i.failed}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
    <ion-item class="actions">
      <ion-label color="medium" [routerLink]="['/applies']" [queryParams]="{task:i.id}" >审核</ion-label>
      <ion-label color="medium">
        <ng-container *ngIf="!i.stopped">
        <ion-text (click)="pause(j)" *ngIf="!i.paused">暂停</ion-text>
        <ion-text (click)="unpause(j)" *ngIf="i.paused">恢复</ion-text>
        </ng-container>
      </ion-label>
      <ion-label color="medium"><ion-text *ngIf="!i.stopped && !i.paused" routerLink="/sticky" [queryParams]="{tid:i.id, title:i.title}">置顶</ion-text></ion-label>
      <ion-label color="medium"><ion-text *ngIf="!i.stopped && !i.paused" routerLink="/promo"  [queryParams]="{tid:i.id, title:i.title}">推荐</ion-text></ion-label>
      <ion-label color="medium" (click)="stop(j)" *ngIf="!i.stopped">下架</ion-label>
      <ion-label color="medium" *ngIf="i.stopped">已下架</ion-label>
    </ion-item>
  </ion-card>
  </ng-container>

</ion-content>
