ion-content{
  >ion-label{
    display: block;
    margin: 16px;
  }
  >ion-text{
    display: block;
    margin: 0 16px;
  }
  ion-item{
    --padding-start: 16px;
    --padding-end: 16px;
  }
  .price{
    font-size: 22px;
    ion-input{
      span{
        margin-right: 6px;
      }
    }
    ion-text:first-child{
      font-size: 42px;
    }
  }
  .hint{
    font-size: 12px;
    font-weight: normal;
  }
  ion-button{
    margin: 16px;
  }
  ion-icon{
    margin-right: 8px;
  }
  .input{
    background: #FAFAFA;
    border-radius: 8px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-end: 15px;
    --padding-start: 15px !important;
    --placeholder-color: #B2B2B2;
  }
}
