<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>提现</ion-title>
    <ion-text color="medium" slot="end" routerLink="/me/finance">提现记录</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-label><ion-text color="medium">提现类型</ion-text></ion-label>
  <ion-radio-group value="1" [(ngModel)]="type">
    <ion-item>
      <ion-label>充值余额  可提({{topup}}元)</ion-label>
      <ion-radio slot="start" value="1"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>任务奖励  可提({{reward}}元)</ion-label>
      <ion-radio slot="start" value="2"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-label><ion-text color="medium">提现金额</ion-text></ion-label>
  <ion-item class="price">
    <ion-input type="number" slot="start" color="danger" [(ngModel)]="amount"></ion-input>
    <ion-text slot="end">元</ion-text>
  </ion-item>
  <ion-text color="medium">充值余额（手续费10%，VIP3以上会员5%）</ion-text>
  <ion-text color="medium">现金余额（手续费1%，VIP3以上会员免费）</ion-text>
  <ion-label><ion-text color="medium">选择提现方式</ion-text></ion-label>
  <ion-radio-group value="ali">
  <ion-item>
    <ion-icon name="logo-wechat" color="success"></ion-icon>
    <ion-text>微信</ion-text>
    <ion-radio slot="end" value="ali"></ion-radio>
  </ion-item>
  </ion-radio-group>
  <ion-button expand="block" (click)="withdraw()">立即提现</ion-button>
  <ion-text color="medium">
    提现时间：周一至周五的工作日上班时间，24小时内到
    账，请耐心等待。
  </ion-text>

</ion-content>
