<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>提现</ion-title>
    <ion-text color="medium" slot="end" routerLink="/me/finance">提现记录</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item-divider color="light"></ion-item-divider>
  <form (ngSubmit)="chkpaypass()" [formGroup]="form">
  <ion-radio-group formControlName="type" (ionChange)="changeType($event)" required>
    <ion-item>
      <ion-label>任务奖励  可提({{earnings}}元)</ion-label>
      <ion-radio slot="start" value="18"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>充值余额  可提({{topup}}元)</ion-label>
      <ion-radio slot="start" value="19"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-item-divider color="light"></ion-item-divider>
  <ion-item class="price">
    <ion-input type="number" slot="start" color="danger" required formControlName="amount" (ionChange)="getActual()"><span>¥  </span></ion-input>
    <ion-text slot="end">元</ion-text>
  </ion-item>
  <ion-item-divider color="light">
    <ion-label class="hint" color="danger" *ngIf="amount.invalid && amount.errors.min">* 最低提现金额{{min}}元</ion-label>
    <ion-label class="hint" color="danger" *ngIf="amount.invalid && !amount.errors.min && amount.errors.max">* 可提金额不足</ion-label>
    <ion-label class="hint" color="" *ngIf="amount.valid">手续费: {{fee}} / 实际到帐: {{actual}} / 合计: {{sum}} </ion-label>
  </ion-item-divider>
  <ion-radio-group formControlName="method" (ionChange)="changeMethod($event)" required>
  <ion-item>
    <ion-icon name="logo-wechat" color="success"></ion-icon>
    <ion-text>微信(手动)</ion-text>
    <ion-radio slot="end" value="11"></ion-radio>
  </ion-item>
  <ion-item *ngIf="method.value == 11">
    <ion-input class="input" formControlName="wechat" placeholder="请输入微信号"></ion-input>
    <ion-button type="button" *ngIf="!wechat.disabled" [disabled]="wechat.invalid" (click)="confirmAccount(wechat)">确定</ion-button>
    <ion-button type="button" *ngIf="wechat.disabled" (click)="editAccount(2)" color="danger">修改</ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="logo-alipay" color="primary"></ion-icon>
    <ion-text>支付宝(手动)</ion-text>
    <ion-radio slot="end" value="12"></ion-radio>
  </ion-item>
  <ion-item *ngIf="method.value == 12">
    <ion-input class="input" formControlName="alipay" placeholder="请输入支付宝账号"></ion-input>
    <ion-button type="button" *ngIf="!alipay.disabled" [disabled]="alipay.invalid" (click)="confirmAccount(alipay)">确定</ion-button>
    <ion-button type="button" *ngIf="alipay.disabled" (click)="editAccount(1)" color="danger">修改</ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="logo-wechat" color="success"></ion-icon>
    <ion-text>微信</ion-text>
    <ion-radio slot="end" value="13"></ion-radio>
  </ion-item>
  </ion-radio-group>
  <ion-item-divider color="light"></ion-item-divider>
  <ion-button expand="block" [disabled]="clicked || form.invalid || (method.value == 11 && !wechat.disabled) || (method.value == 12 && !alipay.disabled)" type="submit">立即提现</ion-button>
  <ng-template>
  <ion-button expand="block" [disabled]="clicked || form.invalid" type="submit" appDebounceClick (debounceClick)="confirmWithdraw()">立即提现</ion-button>
  </ng-template>
  </form>
  <ion-text color="medium" *ngIf="node" [innerHTML]="node.body"></ion-text>
</ion-content>
