:host{
  --svgcolor: #999999;
}
.tab-selected{
  --svgcolor: #328EFF;
}
ion-tab-bar{
  --border: 0;
}
ion-tab-button{
  --padding-top: 3px;
  --padding-bottom: 3px;
}
ion-label{
    font-size: 11px;
}
