<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="home">
      <ion-item> </ion-item>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hall" class="hall">
      <ion-item> </ion-item>
      <ion-label>大厅</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="equity" class="equity">
      <ion-item> </ion-item>
      <ion-label>股权</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="land" class="land">
      <ion-item> </ion-item>
      <ion-label>领地</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="me" class="me">
      <ion-item> </ion-item>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
