ion-header{
    ion-toolbar{
      --background: none;
    }
}
ion-content{
  --offset-top: 46px !important;
  --background: #F5F5F5 url("../../assets/img/equity_bg.png") top/contain no-repeat;
  ion-toolbar{
    --background: none;
  }
  >ion-item{
    margin-bottom: 10px;
  }
  ion-item{
    --border-radius: .25em;
  }
  .banner{
    margin-top: 32px;
  }
  .feature{
    ion-col:last-child{
      margin-bottom: 20px;
    }
    ion-col{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      ion-thumbnail{
        --size: 32px;
        margin-bottom: 5px;
      }
    }
  }
}
