<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">二维码海报</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <div class="banner">
    <p>我的邀请码<p>
    <ion-text color="primary">{{code}}</ion-text>
  </div>

    <ion-slides [options]="slideOpts" (ionSlideDidChange)="changeSlide($event)" *ngIf="userData">
      <ion-slide *ngFor="let i of posters">
        <ion-img [src]="env.imgUrl + '/poster/' + userData.username + '_' + i"></ion-img>
      </ion-slide>
    </ion-slides>
  <ion-button expand="block" download (click)="download(i)">保存图片</ion-button>

</ion-content>
