<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>股东话题</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal" *ngIf="node">
  <h2>{{node.title}}</h2>
  <ion-text color="medium" class="first">提案人：{{node.author.username}} </ion-text>
  <ion-text color="medium">时间：{{node.date}}</ion-text>
  <p></p>
  <ion-text [innerHTML]="node.body"></ion-text>
</ion-content>

<ion-footer>
    <ion-button class="sell" size="large" fill="outline" shape="round" color="primary">
      <ion-icon name="thumbs-up-sharp"></ion-icon>
      赞同</ion-button>
</ion-footer>
