<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>股东话题</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <h2>机养非元合族京办百作如领深铁收起五京较龙直</h2>
  <ion-text color="medium" class="first">提案人：张多少</ion-text>
  <ion-text color="medium">时间：2020-11-06</ion-text>

  <p>
  1、任务大厅发布任务，任务可以选择推荐、置顶、暂停，取消四种状态。推荐、置顶需要购买，时效是24小时，过期了再买。 
  </p>
  <p>
  2、发布的任务种类：下载APP，账号注册，认证绑卡，电商相关，简单关注，简单转发，投票/砍价，推广引流，其他任务；筛选条件（悬赏大厅，最新任务，高价任务） 
  </p>
  <p>
  3、已报名在做的任务，任务发布人暂停后该任务任可继续完成，没有报名的任务，任务发布人暂停后该任务任不能报名。所有上传图片需要加水印。 
  </p>
  <p>
  4、已报名在做的任务，任务发布人暂停后该任务任可继续完成，没有报名的任务，任务发布人暂停后该任务任不能报名。所有上传图片需要加水印。
  </p>
</ion-content>

<ion-footer>
    <ion-button class="sell" size="large" fill="outline" shape="round" color="primary">
      <ion-icon name="thumbs-up-sharp"></ion-icon>
      赞同</ion-button>
</ion-footer>
