<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item>
    <ion-label>原密码</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>新密码</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>确认新密码</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>
