<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">推广排行</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/img/bg_ranking.png"></ion-img>
  <ion-list>
    <ion-item *ngFor="let i of users; let j = index">
      <ion-thumbnail *ngIf="j == 0">
        <img src="../assets/img/crown_gold.png">
      </ion-thumbnail>
      <ion-thumbnail *ngIf="j == 1">
        <img src="../assets/img/crown_silver.png">
      </ion-thumbnail>
      <ion-thumbnail *ngIf="j == 2">
        <img src="../assets/img/crown_bronze.png">
      </ion-thumbnail>
      <ion-text *ngIf="j > 2">{{j + 1}}</ion-text>
      <ion-avatar>
        <img src="../assets/img/avatar.png">
      </ion-avatar>
      <div>
        <p>姓名</p>
        <ion-text color="medium">推广：5000人 | 赚取：20000元</ion-text>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
