<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon color="light" slot="start" name="chatbubble-ellipses-outline"></ion-icon>
    <ion-title color="light">个人中心</ion-title>
    <ion-icon color="light" slot="end" name="settings-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="about">
    <ion-avatar slot="start">
      <img src="../assets/img/she.png">
    </ion-avatar>
    <div>
      <ion-text class="name" color="light">
        姓名
      </ion-text>
      <ion-text color="light">
        会员ID: 123124
      </ion-text>
      <ion-icon color="light" size="small" name="copy-outline"></ion-icon>
    </div>
  </ion-item>

  <div class="offset ion-padding-horizontal">
    <div class="balance">
      <ion-item class="total">
        <ion-text slot="start" color="light">账户总额 123 </ion-text>
        <ion-button slot="end" fill="outline" color="light">
          立即提现
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item class="misc">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center" size="3" *ngFor="let i of balance">
            <ion-text color="danger"><h3>{{i.amount}}</h3></ion-text>
            <ion-text color="medium" class="label">{{i.label}}</ion-text>
          </ion-col>
          </ion-row>
      </ion-grid>
      </ion-item>
    </div>

    <ion-item class="feature">
      <ion-grid>
        <ion-row>
          <ion-col size="3" [routerLink]="i.link" *ngFor="let i of features">
            <ion-thumbnail>
              <img [src]="i.img">
            </ion-thumbnail>
            <ion-label>{{i.name}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  <div>
    <ion-item>
              <div class="bar"></div>
      <h4>其它</h4>
    </ion-item>
    <ion-item class="other">
      <ion-grid>
        <ion-row>
          <ion-col size="3" [routerLink]="i.link" *ngFor="let i of system">
            <ion-thumbnail>
              <img [src]="i.img">
            </ion-thumbnail>
            <ion-label>{{i.name}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
  </div>

</ion-content>
