<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">股东话题</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-item class="banner">
    <ion-img src="../assets/img/equity_banner.png"> </ion-img>
  </ion-item>
  <ion-item class="item-header">
    <div class="bar"></div>
    <h4>推荐话题</h4>
  </ion-item>
  <div class="list-item" *ngFor="let i of posts" routerLink="/equity/topic/node" [queryParams]="{id: i.id}">
    <ion-item>
      <ion-avatar>
        <img [src]="url + i.author.avatar">
      </ion-avatar>
      <div>
        <h3>{{i.title}}</h3>
        <ion-text color="medium">{{i.author.username}}</ion-text>
      </div>
    </ion-item>
    <ion-item class="summary">
      <ion-text>{{i.body}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-text slot="end" color="medium">
        <ion-icon name="thumbs-up-sharp"></ion-icon>
        {{i.up}}
      </ion-text>
    </ion-item>
  </div>

</ion-content>
