<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>置顶</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item class="title">
    <ion-label>任务名称</ion-label>
    <ion-input value="{{title}}" required readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>截至时间</ion-label>
    <ion-input type="number" required readonly value="">{{stickyUntil | date: "MM月dd日 HH:mm"}}</ion-input>
    <ng-template>
    <ion-badge color="danger">{{price}}元/天</ion-badge>
    </ng-template>
  </ion-item>
  <ion-label class="label" color="medium">支付金额</ion-label>
  <ion-item class="price">
    <ion-input color="danger" readonly>¥ {{price * days}}</ion-input>
  </ion-item>
  <ion-button expand="block" (click)="sticky()">立即支付</ion-button>

</ion-content>
