<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>接单管理</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="0">
      <ion-segment-button [value]="i.value" *ngFor="let i of statuses">
        <ion-label>{{i.label}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-item class="task">
    <ion-list>
      <ion-item [routerLink]="i.link" *ngFor="let i of applies">
        <ion-grid>
          <ion-row>
            <ion-col class="pic" size="auto">
              <ion-avatar>
                <img [src]="envs.imgUrl + i.task.owner.avatar">
              </ion-avatar>
            </ion-col>
            <ion-col class="text">
              <ion-text class="title">{{i.task.title}}</ion-text>
              <div>
                <ion-text class="info">{{i.task.category.name}}</ion-text>
                <ion-text class="info" *ngFor="let j of i.task.tag">|{{j.name}}</ion-text>
              </div>
              <ion-text class="info">报名时间:{{i.date | date:'y-M-d'}}</ion-text>
            </ion-col>
            <ion-col class="price" size="auto">
              <ion-text class="num"><span>{{i.task.price}}元</span></ion-text>
              <div class="status">
                <ion-text class=""><span>已完成</span></ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-list>
  </ion-item>
</ion-content>
