ion-segment{
  --background: unset;
}
ion-segment-button{
  --border-style: none;
  //--indicator-color: #0072FF;
  --indicator-box-shadow: 0 4px #0072FF;
  --border-radius: unset;
}
ion-content{
  ion-grid{
    --ion-grid-padding: 0;
  }
  >ion-item{
    margin-bottom: 10px;
  }
  ion-item{
    --border-style: none;
    --border-radius: .25em;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
  }
  .task{
    ion-list{
      width: 100%;
      padding: 0 10px;
      ion-list-header{
        padding-left: 0;
        .bar{
          background-color: #0072FF;
          width: 4px;
          height: 38%;
          border-radius: .5em;
          margin-right: 6px;
        }
        ion-col{
          display: flex;
          align-items: center;
          h3, h5, div{
            display: inline-block;
          }
          h3, h5{
            margin-top: 12px;
            margin-bottom: 12px;
          }
          h5, ion-icon{
            color: #787878;
          }
        }
      }
      >ion-item{
        padding: 10px 0;
        border-bottom: 1px solid #E6E6E6;
        .pic{
          ion-thumbnail{
            --size: 48px;
            img{
              border-radius: 50%;
              width: 48px;
            }
          }
          ion-label{
            color: #787878;
            text-align: center;
          }
        }
        .text{
          .title{
            display: block;
          }
          .info{
            color: #888888;
            font-size: 12px;
          }
        }
        .price{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          div{
            font-size: 12px;
          }
          span{
            color: #FF3B2F;
          }
          .num{
            font-size: 20px;
          }
        }
      }
    }
  }
}
