<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>绑定支付宝</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item>
    <ion-label>你的姓名</ion-label>
    <ion-input placeholder="请输入您的姓名"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>支付宝号</ion-label>
    <ion-input placeholder="请输入您的支付宝号"></ion-input>
  </ion-item>
  <ion-text class="hint" color="medium">务必填写《通过支付宝实名认证的真实姓名》，以确保及时到账。</ion-text>
  <ion-button expand="block">提交</ion-button>

</ion-content>
