ion-content{
  >ion-item{
    --padding-start: 16px;
    --padding-end: 16px;
    ion-label{
      margin-right: 20px;
    }
  }
  >ion-item:first-child{
    margin-top: 10px;
  }
  .hint{
    font-size: 12px;
    margin: 16px;
    display: block;
  }
  ion-button{
    margin: 20px 16px;
  }
}
