<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>账户明细</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="0" [(ngModel)]="seg">
      <ion-segment-button value="0" selected>
        <ion-label>资金明细</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>提现明细</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>充值记录</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-item class="hist">
    <ion-list>
      <ion-list-header>
        <ion-item>
          <ion-item>
            <ion-datetime displayFormat="YYYY-MM" value="{{month}}" doneText="确定" cancelText="取消" [(ngModel)]="month" (ionChange)="showMonth()"></ion-datetime>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-item>
        </ion-item>
      </ion-list-header>
      <ng-container *ngFor="let i of hists">
      <ion-item class="list-item" *ngIf="seg == 0 || (seg == 1 && i.type == 19) || (seg == 2 && i.type == 0)">
        <ion-thumbnail slot="start">
          <img src="../assets/img/rmb_blue.png">
        </ion-thumbnail>
        <div>
          <ion-text>{{i.note}}</ion-text>
          <ion-text color="medium" class="date">{{i.date | date:'yyyy-MM-dd HH:mm'}}</ion-text>
        </div>
        <ion-text slot="end">{{i.amount / 100}}</ion-text>
      </ion-item>
      </ng-container>
    </ion-list>
  </ion-item>

</ion-content>
