<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-item class="logo-wrapper">
    <ion-thumbnail class="logo ion-no-border">
      <img src="../../assets/img/logo.png">
    </ion-thumbnail>
  </ion-item>
  <form (ngSubmit)="signup()" [formGroup]="form">
<ng-container *ngIf="username.invalid && (username.dirty || username.touched)">
  <ion-label color="danger" *ngIf="username.errors.required"> * 请填写账号 </ion-label>
  <ion-label color="danger" *ngIf="username.errors.minlength"> * 账号须大于6位 </ion-label>
  <ion-label color="danger" *ngIf="username.errors.pattern"> * 账号只能包含数字、字母和下划线 </ion-label>
</ng-container>
  <ion-input required minlength='6' maxlength="16" pattern="^[a-z0-9_-]+$" class="input ion-margin-bottom" name="username" formControlName="username" autofocus="true" clearInput="true" placeholder="请输入您的账号"> </ion-input>
<ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
  <ion-label color="danger" *ngIf="password.errors.required"> * 请设置密码 </ion-label>
  <ion-label color="danger" *ngIf="password.errors.minlength"> * 密码8至16位 </ion-label>
  <ion-label color="danger" *ngIf="password.errors.pattern"> * 必须包含大写字母、小写字母及数字 </ion-label>
</ng-container>
<ion-item class="password">
  <ion-input required minlength='8' maxlength="16" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\w\W]+$" class="input" name="password" formControlName="password" [type]="passType" placeholder="请设置您的登录密码"> </ion-input>
<ion-icon name="eye" *ngIf="passType == 'text'" (click)="togglePassType()"></ion-icon>
<ion-icon name="eye-off" *ngIf="passType == 'password'" (click)="togglePassType()"></ion-icon>
</ion-item>
<ng-container *ngIf="phone.invalid && (phone.dirty || phone.touched)">
  <ion-label color="danger" *ngIf="phone.errors.required"> * 请输入手机号 </ion-label>
  <ion-label color="danger" *ngIf="phone.errors.pattern"> * 请输入正确的手机号 </ion-label>
</ng-container>
  <ion-input required minlength='11' maxlength='11' pattern="^1[3-9]\d{9}$" class="input ion-margin-bottom" type="tel" name="phone" formControlName="phone" clearInput="true" placeholder="请输入您的手机号码"></ion-input>

  <ion-item class="vcode">
    <ion-input slot="start" [readonly]="!smsResp" required minlength='6' maxlength='6' formControlName="vCode" name="vCode" class="input ion-margin-bottom" placeholder="验证码">
    </ion-input>
    <ion-button slot="end" [disabled]="phone.invalid || codeSent" class="sms" type="button" size="" (click)="getSms()">{{getCodeBtnText}}</ion-button>
  </ion-item>
  <ion-input class="input" clearInput="true" placeholder="请输入邀请码"> </ion-input>

  <ion-item class="small-links">
    <ion-checkbox required  formControlName="acceptTerms" color="primary"></ion-checkbox>
    <ion-label>注册代表同意<a routerLink="/terms">《用户协议》</a><a routerLink="/privacy">《隐私条款》</a></ion-label>
  </ion-item>
  <ion-button [disabled]="form.invalid" expand="block" type="submit" class="submit">确定</ion-button>
  </form>
</ion-content>
