.input{
  background: #FAFAFA;
  opacity: 1;
  border-radius: 8px;
  position: relative;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-end: 15px;
  --padding-start: 15px !important;
  --placeholder-color: #B2B2B2;
}
.password{
    margin-bottom: 15px;
    --padding-end: 4px;
    --background: #FAFAFA;
    --border-radius: 8px;
    ion-icon{
        font-size: 24px;
    }
}
.small-links{
  color: #9B9B9B;
  font-size: 13px;
}
.submit{
  background: #0072FF;
  border-radius: 8px;
  margin-bottom: 60px;
}
.logo{
  background-color: #b2b2b2;
  border-radius: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
}
ion-label{
  display: block;
  font-size: 12px;
}
ion-item{
  --border-style: none;
  --padding-start: 0;
}
ion-checkbox{
  --background-checked: #00A9F6;
  --border-color-checked: #00A9F6;
  --size: 16px;
}
a{
  color: #00A9F6;
}
ion-button.sms{
  position: absolute;
  right: 0;
  --background: #FAFAFA;
  --background-activated: #FAFAFA;
  --color: black;
}
ion-thumbnail{
    --border-radius: 50%;
}
.vcode{
  --background: #FAFAFA;
  --border-radius: 8px;
  margin-bottom: 16px;
  ion-input{
    margin: 0;
  }
  ion-button{
    //height: 40px;
    margin: 0;
  }
}
