<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isset">创建支付密码</ion-title>
    <ion-title *ngIf="isset">修改支付密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="chpass()" [formGroup]="form">
  <ion-item *ngIf="isset">
    <ion-input class="input" required formControlName="oldPass" type="password" placeholder="请输入原支付密码"> </ion-input>
  </ion-item>

<ng-container *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)">
  <ion-label color="danger" *ngIf="newPass.errors.required"> * 请输入6位新密码 </ion-label>
  <ion-label color="danger" *ngIf="newPass.errors.minlength"> * 请输入6位新密码 </ion-label>
  <ion-label color="danger" *ngIf="newPass.errors.pattern"> * 支付密码只能包含数字 </ion-label>
</ng-container>
  <ion-item>
    <ion-input required minlength='6' maxlength="6" pattern="^\d+$" class="input" name="password" formControlName="newPass" type="password" placeholder="请输入新支付密码"> </ion-input>
  </ion-item>

  <ion-label class="hint" color="danger" *ngIf="newPass1.value != newPass.value && (newPass1.dirty)"> * 新密码输入不一致 </ion-label>
  <ion-item>
    <ion-input required class="input" name="password" formControlName="newPass1" type="password" placeholder="请确认新支付密码"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-note slot="end" (click)="reset()">忘记支付密码？</ion-note>
  </ion-item>
  <ion-button [disabled]="form.invalid || newPass1.value != newPass.value" expand="block" type="submit">确认</ion-button>
  </form>
</ion-content>
