ion-segment{
  --background: unset;
  border-radius: 0;
}
ion-segment-button{
  --color-checked: #0072FF;
  --border-style: none;
  --indicator-box-shadow: 0 4px #0072FF;
  --border-radius: unset;
}

ion-content{
  ion-button{
    margin: 16px;
  }
  .title{
  }
  ion-item{
    --padding-start: 16px;
    --padding-end: 16px;
  }
  >ion-label{
    margin: 10px 16px;
    display: block;
  }
  .pic{
      ion-label{
          font-size: 12px;
          width: 48px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;
      }
  }
  .info{
    overflow: hidden;
    ion-item{
        --padding-start: 0;
        --padding-end: 0;
        --min-height: none;
        align-items: flex-start;
        ion-text{
            margin-bottom: 3px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .status{
            font-size: 12px;
        }
    }
    .date{
      font-size: 12px;
    }
    .pics{
        margin-top: 10px;
        ion-img:first-child{
            margin-right: 4px;
        }
        ion-img{
            width: 50%;
        }
    }
  }
  .status{
      text-align: right;
      ion-text{
          font-size: 14px;
      }
  }
}
