<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>任务详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding-horizontal">
  <ion-card class="info">
    <ion-item class="id">
      <ion-thumbnail>
        <img src="../assets/img/heart.png">
      </ion-thumbnail>
      <ion-text color="medium">编号: 1231</ion-text>
      <ion-item slot="end" class="speed">
        <ion-text color="medium">店铺审核速度</ion-text>
        <ion-thumbnail>
          <img src="../assets/img/flash.png">
        </ion-thumbnail>
        <ion-thumbnail>
          <img src="../assets/img/flash.png">
        </ion-thumbnail>
        <ion-thumbnail>
          <img src="../assets/img/flash.png">
        </ion-thumbnail>
      </ion-item>
    </ion-item>
    <ion-item class="main">
      <div>
        <h4>
          分分钟钟搞定 秒审核
        </h4>
        <ion-text color="medium">简单关注 | 急速审核</ion-text>
      </div>
      <ion-text class="price" slot="end" color="danger">68.00元</ion-text>
    </ion-item>
    <ion-grid class="data">
      <ion-row>
        <ion-col>
          <h4>250</h4>
          <ion-text color="medium">剩余数量</ion-text>
        </ion-col>
        <ion-col>
          <h4>0.5h</h4>
          <ion-text color="medium">做单时间</ion-text>
        </ion-col>
        <ion-col>
          <h4>1d</h4>
          <ion-text color="medium">审核时间</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-item class="about">
    <ion-avatar routerLink="/shop">
      <img src="../assets/img/she.png">
    </ion-avatar>
    <div>
      <ion-text>姓名</ion-text>
      <ion-text class="uid" color="medium"><p>1234</p></ion-text>
    </div>
    <div slot="end" class="actions">
      <ion-thumbnail>
        <img src="../assets/img/favorite.png">
      </ion-thumbnail>
      <ion-text color="medium">
        收藏任务
      </ion-text>
      <ion-button class="follow" color="danger" shape="round">关注TA</ion-button>
    </div>
  </ion-item>

  <div class="item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>做单说明</h4>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>
        1、出于互联网交流的数据隐私安全问题的考虑，请允许我只做简单说明，我也不会提到任何具体的数据信息。
        </p>
        <p>
        2、对数字卫星电视接收系统的整体框架做一简单说明。
        </p>
        <p>
        3、对数字卫星电视接收系统做一简单说明。
        </p>
      </ion-text>
    </ion-item>
  </div>

  <div class="item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>任务描述</h4>
    </ion-item>
    <div>
      <ion-text>
        出于互联网交流的数据隐私安全问题的考虑，请允许我只做简单说明。
      </ion-text>
      <ion-item class="pic">
        <ion-img src="../assets/img/pic1.png"></ion-img>
        <ion-img src="../assets/img/pic1.png"></ion-img>
      </ion-item>
    </div>
    <div>
      <ion-text>
        出于互联网交流的数据隐私安全问题的考虑，请允许我只做简单说明。
      </ion-text>
      <ion-item class="pic">
        <ion-img src="../assets/img/pic1.png"></ion-img>
        <ion-img src="../assets/img/pic1.png"></ion-img>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-button class="contact" size="large" expand="full">联系商家</ion-button>
    <ion-button class="apply" size="large" expand="full">申请任务</ion-button>
  </ion-item>
</ion-footer>
