<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>任务详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding-horizontal" *ngIf="task">
  <ion-card class="info">
    <ion-item class="id">
      <ion-thumbnail>
        <img src="../assets/img/heart.png">
      </ion-thumbnail>
      <ion-text color="medium">编号: {{task.id}}</ion-text>
      <ion-item slot="end" class="speed">
        <ion-text color="medium">店铺验收速度</ion-text>
        <ion-thumbnail>
          <img src="../assets/img/flash.png">
        </ion-thumbnail>
        <ion-thumbnail>
          <img src="../assets/img/flash.png">
        </ion-thumbnail>
        <ion-thumbnail>
          <img src="../assets/img/flash.png">
        </ion-thumbnail>
      </ion-item>
    </ion-item>
    <ion-item class="main">
      <div>
        <h4>
          {{task.title}}
        </h4>
        <ion-text color="medium">{{task.category.name}} | {{task.name}}</ion-text>
      </div>
      <ion-text class="price" slot="end" color="danger">{{task.price / 100}}元</ion-text>
    </ion-item>
    <ion-grid class="data">
      <ion-row>
        <ion-col>
          <h4>{{task.remain}}</h4>
          <ion-text color="medium">剩余数量</ion-text>
        </ion-col>
        <ion-col>
          <h4 *ngIf="statusId != 11">{{workTime}}</h4>
          <h4 *ngIf="statusId == 11" class="time-left">{{workDeadline|dateLeft}}</h4>
          <ion-text color="medium">做单时间</ion-text>
        </ion-col>
        <ion-col>
          <h4 *ngIf="statusId != 12">{{reviewTime}}</h4>
          <h4 *ngIf="statusId == 12" class="time-left">{{approveDeadline|dateLeft}}</h4>
          <ion-text color="medium">验收时间</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-item class="about">
    <ion-avatar routerLink="/shop">
      <img *ngIf="task.owner.avatar; else block1" [src]="envs.url + task.owner.avatar">
      <ng-template #block1>
        <img src="../assets/img/she.png">
      </ng-template>
    </ion-avatar>
    <div>
      <ion-text>{{task.owner.username}}</ion-text>
      <ion-text class="uid" color="medium"><p>{{task.owner.id}}</p></ion-text>
    </div>
    <div slot="end" class="actions">
      <ion-thumbnail>
        <img src="../assets/img/favorite.png">
      </ion-thumbnail>
      <ion-text color="medium">
        收藏任务
      </ion-text>
      <ion-button class="follow" color="danger" shape="round">关注TA</ion-button>
    </div>
  </ion-item>

  <div class="item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>做单说明</h4>
    </ion-item>
    <ion-item>
      <ion-text>
        {{task.description}}
      </ion-text>
    </ion-item>
  </div>

  <div class="item-container" *ngIf="task.link">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>任务链接</h4>
    </ion-item>
    <ion-item>
      <ion-text>
        {{task.link}}
      </ion-text>
      <ion-icon (click)="copy()" slot="end" size="small" name="copy-outline"></ion-icon>
    </ion-item>
  </div>

  <div class="item-container" *ngIf="task.note">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>文字验收</h4>
    </ion-item>
    <ion-item>
      <ion-text> {{task.note}} </ion-text>
    </ion-item>
    <ion-item *ngIf="applied" id="myNote">
      <ion-input *ngIf="statusId == 11" placeholder="* 请输入文字验收" [(ngModel)]="note" required></ion-input>
      <ion-text *ngIf="statusId != 11">{{myApply.note}}</ion-text>
    </ion-item>
  </div>

  <div class="item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>任务描述</h4>
    </ion-item>
    <div *ngFor="let i of task.guides[0]">
      <ion-text>
        {{i.desc}}
      </ion-text>
      <ion-item class="pic">
          <ion-img [src]="envs.url + i.img"></ion-img>
      </ion-item>
    </div>

    <h4>验收图文</h4>
    <div *ngFor="let i of task.reviews[0]; let j = index">
      <ion-text>
        {{i.desc}}
      </ion-text>
      <ion-item class="pic">
        <ng-container *ngIf="applied; else elseBlock4">
          <ion-img [src]="envs.url + i.img" class="w-50"></ion-img>

          <ng-container *ngIf="statusId == 11; else elseBlock3">
            <ng-container *ngIf="uploads[j]; else elseBlock5">
              <ion-img [src]="envs.url + uploads[j]" class="w-50"></ion-img>
            </ng-container>
          </ng-container>

        </ng-container>

        <ng-template #elseBlock3>
          <ion-img [src]="envs.url + pics[j]" class="w-50"></ion-img>
        </ng-template>
        <ng-template #elseBlock4>
          <ion-img [src]="envs.url + i.img"></ion-img>
        </ng-template>
        <ng-template #elseBlock5>
          <input class="ion-hide" type="file" accept="image/*" (change)="uploadPhoto($event, j)" #fileUpload>
          <ion-thumbnail (click)="fileUpload.click()" class="w-50 v-center">
            <ion-icon size="large" name="image-outline"></ion-icon>
          </ion-thumbnail>
        </ng-template>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ng-container *ngIf="id != 0 && task">
      <ng-container *ngIf="task.owner.id == userData.id">
        <ion-button class="checkApply" size="large" expand="full" routerLink="/myposts">查看申请</ion-button>
      </ng-container>
      <ng-container *ngIf="task.owner.id != userData.id">
        <ng-container *ngIf="applied">
          <ion-button *ngIf="statusId != 13" class="contact" size="large" expand="full">联系商家</ion-button>
          <ion-button *ngIf="statusId == 13" class="contact" size="large" expand="full" (click)="report()">辩诉维权</ion-button>
          <ion-button [disabled]="uploads.length == 0 || (task.note != '' && note == '')" *ngIf="statusId == 11" class="apply" size="large" expand="full" (click)="submit()">提交</ion-button>
          <ion-button *ngIf="statusId == 12" class="apply" size="large" expand="full" disabled>验收中</ion-button>
          <ion-button *ngIf="statusId == 13" class="apply" size="large" expand="full" disabled>不合格</ion-button>
          <ion-button *ngIf="statusId == 14" class="apply" size="large" expand="full" disabled>已完成</ion-button>
        </ng-container>
        <ng-container *ngIf="!applied">
          <ion-button class="contact" size="large" expand="full">联系商家</ion-button>
          <ion-button class="apply" size="large" expand="full" (click)="apply()">申请任务</ion-button>
        </ng-container>
      </ng-container>
    </ng-container>
  </ion-item>
</ion-footer>
