<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>任务详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding-horizontal" *ngIf="data">
  <ion-card class="info">
    <ion-item class="id">
      <ion-thumbnail>
        <img src="../assets/img/heart.png">
      </ion-thumbnail>
      <ion-text color="medium">编号: {{data.id}}</ion-text>
      <ion-item slot="end" class="speed">
        <ion-text color="medium">店铺审核速度</ion-text>
        <ion-thumbnail>
          <img src="../assets/img/flash.png">
        </ion-thumbnail>
        <ion-thumbnail>
          <img src="../assets/img/flash.png">
        </ion-thumbnail>
        <ion-thumbnail>
          <img src="../assets/img/flash.png">
        </ion-thumbnail>
      </ion-item>
    </ion-item>
    <ion-item class="main">
      <div>
        <h4>
          {{data.title}}
        </h4>
        <ion-text color="medium">简单关注 | 急速审核</ion-text>
      </div>
      <ion-text class="price" slot="end" color="danger">{{data.price}}元</ion-text>
    </ion-item>
    <ion-grid class="data">
      <ion-row>
        <ion-col>
          <h4>250</h4>
          <ion-text color="medium">剩余数量</ion-text>
        </ion-col>
        <ion-col>
          <h4>{{data.applydays}}h</h4>
          <ion-text color="medium">做单时间</ion-text>
        </ion-col>
        <ion-col>
          <h4>{{data.approvedays}}d</h4>
          <ion-text color="medium">审核时间</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-item class="about">
    <ion-avatar routerLink="/shop">
      <img *ngIf="data.owner.avatar; else block1" [src]="envs.imgUrl + data.owner.avatar">
      <ng-template #block1>
        <img src="../assets/img/she.png">
      </ng-template>
    </ion-avatar>
    <div>
      <ion-text>{{data.owner.username}}</ion-text>
      <ion-text class="uid" color="medium"><p>{{data.owner.id}}</p></ion-text>
    </div>
    <div slot="end" class="actions">
      <ion-thumbnail>
        <img src="../assets/img/favorite.png">
      </ion-thumbnail>
      <ion-text color="medium">
        收藏任务
      </ion-text>
      <ion-button class="follow" color="danger" shape="round">关注TA</ion-button>
    </div>
  </ion-item>

  <div class="item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>做单说明</h4>
    </ion-item>
    <ion-item>
      <ion-text>
        {{data.description}}
      </ion-text>
    </ion-item>
  </div>

  <div class="item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>任务描述</h4>
    </ion-item>
    <div *ngFor="let i of data.guides">
      <ion-text>
        {{i.desc}}
      </ion-text>
      <ion-item class="pic">
        <ion-img [src]="envs.url + i.img"></ion-img>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-button class="contact" size="large" expand="full">联系商家</ion-button>
    <ng-container *ngIf="applied; else elseBlock">
      <ion-button class="apply" size="large" expand="full" disabled>已申请</ion-button>
    </ng-container>
    <ng-template #elseBlock>
      <ion-button class="apply" size="large" expand="full" (click)="apply()">申请任务</ion-button>
    </ng-template>
  </ion-item>
</ion-footer>
