<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>首页竞价</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding-horizontal">
  <ion-item class="bids">
    <ion-grid>
      <ion-row>
        <ion-col class="item" size="6" *ngFor="let i of [].constructor(4)">
          <ion-item>
            <ion-badge color="medium">1</ion-badge>
            <div>
              <p>
              <ion-text color="medium">现价:</ion-text>
              <ion-text class="price" color="danger">100元</ion-text>
              </p>
              <p>
              <del>
                <ion-text class="del" color="medium">一口价:300元</ion-text>
              </del>
              </p>
              <ion-button shape="round" routerLink="/bids/offer">我要竞价</ion-button>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div class="item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>竞价规则</h4>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>
        1、每7天分红一次，分红标准是平台的收入（会员充值和发布任务的手续费）的50%参与分红，除以当期有多少个共享宝=每个共享宝的分红基数x个人的共享宝个数=当期分红金额。
        </p>
        <p>
        2、参与分红的条件是达到10个共享宝的人参与分红。
        </p>
      </ion-text>
    </ion-item>
  </div>
</ion-content>
