<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>首页竞价</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding-horizontal">
  <ion-item class="bids">
    <ion-grid>
      <ion-row>
        <ion-col class="item" size="6" *ngFor="let i of bids; let j = index">
          <ion-item *ngIf="i">
            <div>
              <ion-item>
              <ion-badge slot="start" color="medium">{{j+1}}</ion-badge>
              <ion-text class="price" color="danger">
              <ion-text color="medium">现价:</ion-text>
              {{i.price / 100}}
              </ion-text>
              </ion-item>
              <p>
                <ion-text class="del" color="medium">一口价:{{buyItNow}}元</ion-text>
              </p>
              <ion-button shape="round" expand="full" routerLink="/bids/offer" [queryParams]="{id:j}">我要竞价</ion-button>
            </div>
          </ion-item>
          <ion-item *ngIf="!i">
            <div>
              <ion-item>
              <ion-badge slot="start" color="medium">{{j+1}}</ion-badge>
              <ion-text class="price" color="danger">
              <ion-text color="medium">现价:</ion-text>
              {{min}}
              </ion-text>
              </ion-item>
              <p>
                <ion-text class="del" color="medium">一口价:{{buyItNow}}元</ion-text>
              </p>
              <ion-button shape="round" expand="full" routerLink="/bids/offer" [queryParams]="{id:j}">我要竞价</ion-button>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div class="item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>竞价规则</h4>
    </ion-item>
    <ion-item>
      <ion-text *ngIf="node" [innerHTML]="node.body"></ion-text>
    </ion-item>
  </div>
</ion-content>
