<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">兑股权</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div class="balance">
    <p>
    <ion-text class="label" color="light">GXB余额</ion-text>
    </p>
    <ion-text class="amount" color="light">{{gxb}}</ion-text>
  </div>

  <div class="ex">
    <ion-item>
      <ion-label slot="start">股权: </ion-label>
      <ion-input slot="end" [(ngModel)]="equity"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-text color="medium" slot="start">合计：</ion-text>
      <ion-text color="danger" slot="start"> {{equity * rate}}GXB</ion-text>
      <ion-text color="primary" slot="end">全部投入</ion-text>
    </ion-item>
    <div class="hint">
      <ion-text color="medium">
        <p>温馨提示：</p>
        兑换过程中按获得金股数扣除相应的GXB</ion-text>
    </div>
    <ion-button expand="block">兑换</ion-button>
  </div>

  <div class="desc item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>兑换说明</h4>
    </ion-item>
    <ion-text color="medium">
      <p>
      1、每7天分红一次，分红标准是平台的收入（会员充值和发布任务的手续费）的50%参与分红，除以当期有多少个共享宝=每个共享宝的分红基数x个人的共享宝个数=当期分红金额。
      </p>
      <p>
      2、参与分红的条件是达到10个共享宝的人参与分红。
      </p>
    </ion-text>
  </div>


</ion-content>
