<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">格子信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info">
    <ion-thumbnail>
      <img src="../../../assets/img/she.png">
    </ion-thumbnail>
    <p>姓名</p>
    <p class="desc">在城市范围内可领取</p>
    <div class="avatars">
      <ion-avatar class="a">
        <img src="../../../assets/img/she.png">
      </ion-avatar>
      <ion-avatar class="b">
        <img src="../../../assets/img/she.png">
      </ion-avatar>
      <ion-avatar class="c">
        <img src="../../../assets/img/she.png">
      </ion-avatar>
      <ion-avatar class="d">
        <img src="../../../assets/img/she.png">
      </ion-avatar>
      <span>508</span><ion-text color="medium">人领取</ion-text>
    </div>
  </div>
  <ion-item color="light" class="row"></ion-item>

  <div class="item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>TA想跟大家说</h4>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>
        打开页面为主城页面，一行4个，多行。购买广告每天1元钱起步、最低选择10天起步购买，下面选择城市进入对应的城市格子。每个城市格子页面，一行4个，多行，购买广告每天0.05元钱起步、最低选择20天起步购买。广告位参与竞价，价高的排前面，同价的按时间顺序排列（后买的排前面）。用户可以在对应的格子里面付钱后上传广告、招聘、表白等信息。用户在城市每个区可以付钱认领一个领主，领主的权益。
        </p>
      </ion-text>
    </ion-item>
  </div>
</ion-content>
