<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">格子信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="post">
  <div class="info">
    <ion-thumbnail>
      <img [src]="url + post.owner.avatar">
    </ion-thumbnail>
    <p>{{post.owner.username}}</p>
    <p class="desc">{{post.title}}</p>
    <div class="avatars">
      <ion-avatar class="avatar-{{j}}" *ngFor="let i of post.someReads; let j = index">
        <img [src]="url + i.user.avatar">
      </ion-avatar>
      <span>{{post.countReads}}</span><ion-text color="medium">人领取</ion-text>
    </div>
  </div>
  <ion-item color="light" class="row"></ion-item>

  <div class="item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>TA想跟大家说</h4>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>
        {{post.body}}
        </p>
      </ion-text>
    </ion-item>
      <ion-item *ngFor="let i of post.pics" class="pic">
          <ion-img [src]="url + i"></ion-img>
      </ion-item>
  </div>
</ion-content>
