<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">格子信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <div class="info">
    <ion-thumbnail>
      <img [src]="url + data.owner.avatar">
    </ion-thumbnail>
    <p>{{data.owner.username}}</p>
    <p class="desc">{{data.title}}</p>
    <div class="avatars">
      <ion-avatar class="a">
        <img src="../../../assets/img/she.png">
      </ion-avatar>
      <ion-avatar class="b">
        <img src="../../../assets/img/she.png">
      </ion-avatar>
      <ion-avatar class="c">
        <img src="../../../assets/img/she.png">
      </ion-avatar>
      <ion-avatar class="d">
        <img src="../../../assets/img/she.png">
      </ion-avatar>
      <span>508</span><ion-text color="medium">人领取</ion-text>
    </div>
  </div>
  <ion-item color="light" class="row"></ion-item>

  <div class="item-container">
    <ion-item class="item-header">
      <div class="bar"></div>
      <h4>TA想跟大家说</h4>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>
        {{data.body}}
        </p>
      </ion-text>
    </ion-item>
  </div>
</ion-content>
