<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button color="dark" text=""></ion-back-button> </ion-buttons> <ion-title>发布任务</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form (ngSubmit)="checkBalance()" [formGroup]="form">
  <ion-item class="data">
    <ion-note>
      <ion-text color="danger" *ngIf="f.category.invalid && f.category.errors.required">﹡</ion-text>
    </ion-note>
    <ion-label>请选择类型</ion-label>
    <ion-select (ionChange)="getCateMin()" required name="category" formControlName="category" interface="action-sheet" cancelText="取消">
      <ion-select-option *ngFor="let i of categories" value="{{i.id}}">{{i.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="data">
    <ion-note>
      <ion-text color="danger" *ngIf="f.title.invalid && f.title.errors.required">﹡</ion-text>
    </ion-note>
    <ion-label>任务标题</ion-label>
    <ion-input name="title" formControlName="title" placeholder="请输入任务标题" required clearInput></ion-input>
  </ion-item>

  <ion-item class="data">
    <ion-note>
      <ion-text color="danger" *ngIf="f.name.invalid && f.name.errors.required">﹡</ion-text>
    </ion-note>
    <ion-label>任务名称</ion-label>
    <ion-input name="name" formControlName="name" placeholder="请输入任务名称" required clearInput></ion-input>
  </ion-item>

  <ion-item class="data">
    <ion-note>
      <ion-text color="danger" *ngIf="f.workHours.invalid && f.workHours.errors.required">﹡</ion-text>
    </ion-note>
    <ion-label>做单时间</ion-label>
    <ion-select required [value]="1" name="workHours" formControlName="workHours" interface="action-sheet" cancelText="取消">
      <ion-select-option *ngFor="let i of hourOptions" [value]="i.time">{{i.label}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="data">
    <ion-note>
      <ion-text color="danger"*ngIf="f.reviewHours.invalid && f.reviewHours.errors.required">﹡</ion-text>
    </ion-note>
    <ion-label>审核时间</ion-label>
    <ion-select required value="1" name="reviewHours" formControlName="reviewHours" interface="action-sheet" cancelText="取消">
      <ion-select-option *ngFor="let i of hourOptions" [value]="i.time">{{i.label}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="data">
    <ion-note>
      <ion-text color="danger" *ngIf="f.showdays.invalid && f.showdays.errors.required">﹡</ion-text>
    </ion-note>
    <ion-label>展现天数</ion-label>
    <ion-input clearInput required inputmode="numeric" name="showdays" formControlName="showdays" type="number" placeholder="请输入展示天数"> </ion-input>
  </ion-item>

  <ion-item class="data">
    <ion-note>
      <ion-text color="danger" *ngIf="f.quantity.invalid && f.quantity.errors.required">﹡</ion-text>
    </ion-note>
    <ion-label>发布数量</ion-label>
    <ion-input clearInput required inputmode="numeric" name="quantity" formControlName="quantity" type="number" placeholder="请输入任务数量"> </ion-input>
  </ion-item>

  <ion-item class="data">
    <ion-note>
      <ion-text color="danger" *ngIf="f.price.invalid && f.price.errors.required">﹡</ion-text>
    </ion-note>
    <ion-label>悬赏单价</ion-label>
    <ion-input [min]="min" name="price" formControlName="price" type="number" inputmode="numeric" placeholder="最低出价{{min}}元" required clearInput>
  <ion-text class="hint" color="danger" *ngIf="f.price.invalid && f.price.errors.min"> 单价最低 {{min}} 元</ion-text>
    </ion-input>
  </ion-item>

  <ion-item class="pay" *ngIf="f.quantity.valid && f.price.valid">
    <ion-text (click)="showTip()">合计金额</ion-text> 
    <ion-icon (click)="showTip()" size="small" name="help-circle-outline"></ion-icon>
    <ion-note slot="end" color="danger">{{f.quantity.value * f.price.value}} 元</ion-note>
  </ion-item>

  <ion-label color="medium"></ion-label>

  <ion-item class="data guide" *ngFor="let i of arr1; let j = index">
    <ion-note></ion-note>
    <ion-label>操作步骤{{j+1}}</ion-label>
    <ion-input name="desc" placeholder="请输入文字说明" [(ngModel)]="guides[j].desc" [ngModelOptions]="{standalone: true}" required clearInput></ion-input>
    <ion-note>
      <ion-text color="danger" *ngIf="!guides[0].img">﹡</ion-text>
    </ion-note>
    <ion-icon *ngIf="!guides[j].img" slot="end" name="image-sharp" (click)="fileUpload.click()"></ion-icon>
    <ion-thumbnail *ngIf="guides[j].img" slot="end" (click)="fileUpload.click()">
      <img [src]="url + guides[j].img">
    </ion-thumbnail>
    <input class="ion-hide" type="file" (change)="uploadPhoto($event, 'guide', j)" #fileUpload>
  </ion-item>

  <ion-item class="data review" *ngFor="let i of arr2; let j = index">
    <ion-note></ion-note>
    <ion-label>验收图文{{j+1}}</ion-label>
    <ion-input name="desc" placeholder="请输入文字说明" [(ngModel)]="reviews[j].desc" [ngModelOptions]="{standalone: true}" required clearInput></ion-input>
    <ion-note>
      <ion-text color="danger" *ngIf="!reviews[0].img">﹡</ion-text>
    </ion-note>
    <ion-icon *ngIf="!reviews[j].img" slot="end" name="image-sharp" (click)="fileUpload.click()"></ion-icon>
    <ion-thumbnail *ngIf="reviews[j].img" slot="end" (click)="fileUpload.click()">
      <img [src]="url + reviews[j].img">
    </ion-thumbnail>
    <input class="ion-hide" type="file" (change)="uploadPhoto($event, 'review', j)" #fileUpload>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <ion-button size="small" color="warning" shape="round" (click)="add1()">添加图文步骤</ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button size="small" color="warning" shape="round" (click)="add2()">添加验收图文</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item class="data" color="none">
    <ion-note>
      <ion-text color="danger" *ngIf="f.description.invalid && f.description.errors.required">﹡</ion-text>
    </ion-note>
    <ion-label>
      任务说明</ion-label>
  </ion-item>
  <ion-item class="desc data">
    <ion-textarea required name="description" formControlName="description" placeholder="请输入任务介绍" autoGrow clearOnEdit>
    </ion-textarea>
  </ion-item>

  <ion-item class="data">
    <ion-note></ion-note>
    <ion-label>任务链接</ion-label>
    <ion-input placeholder="请输入链接，http开头" formControlName="link" clearInput></ion-input>
  </ion-item>

  <ion-item class="data">
    <ion-note></ion-note>
    <ion-label>文字验收</ion-label>
    <ion-input placeholder="要求对方输入手机号、昵称、ID等" formControlName="note" clearInput></ion-input>
  </ion-item>

  <ion-item class="policy" color="undefined">
    <ion-checkbox size="small" color="primary" class="ion-no-margin" formControlName="acceptTerms"></ion-checkbox>
    <ion-label color="medium" *ngIf="f.acceptTerms.valid">
      我已阅读并同意遵守《发布规则》的全部内容
    </ion-label>
    <ion-label color="danger" *ngIf="f.acceptTerms.invalid && f.acceptTerms.errors.required">
      我已阅读并同意遵守《发布规则》的全部内容
    </ion-label>
  </ion-item>

  <ion-item class="btn">
    <ion-button expand="full" size="large" class="preview" (click)="preview()">
      <ion-icon name="eye-outline"></ion-icon>
      预览
    </ion-button>
    <ion-button [disabled]="form.invalid || guides[0].img == '' || reviews[0].img == ''" expand="full" size="large" class="publish" type="submit">
      申请发布
    </ion-button>
  </ion-item>
  </form>
</ion-content>
