ion-content{
  iton-item{
    border-bottom: 1px solid red ;
  }
}
ion-label{
  padding: 10px;
  display: block;
  font-size: 14px;
}
.data {
  ion-label{
    padding: 0 10px;
  }
  ion-input, ion-textarea{
    font-size: 14px;
  }
  border-bottom: 1px solid #dadada;
}
.data ion-label{
  font-size: 14px;
}
.pay{
  --padding-start: 10px;
  font-weight: 900;
  ion-note{
    font-size: 24px;
  }
}
.cate, .devices{
  ion-button{
    --padding-start: 8px;
    --padding-end: 8px;
  }
}
ion-input,
ion-textarea{
  --placeholder-color: #B2B2B2FF;
}
ion-textarea{
  --padding-start: 8px !important;
  --padding-end: 8px;
}
.policy{
    --padding-start: 8px;
    --padding-end: 8px;
    font-size: 14px;
    ion-checkbox{
      --size: 18px;
    }
    ion-label{
      padding-left: 4px;
    }
}
.btn{
  ion-button{
    height: 46px;
    margin: 0;
    font-size: 16px;
  }
  .preview{
    --background: #fff;
    width: 40%;
    color: #787878;
    border: 1px solid #E6E6E6;
  }
  .publish{
    width: 60%;
  }
}
.cate{
  ion-radio-group{
    ion-button{
      --padding-start: 10px;
      --padding-end: 10px;
      --padding-top: 10px;
      --padding-bottom: 10px;
      --background-activated: blue;
      position: relative;
      width: 74px;
      height: 25px;
      font-size: 14px;
      ion-radio{
        margin:0;
        width: 100%;
        position: absolute;
        opacity: 0;
      }
    }
  }
}
