<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button color="dark" text=""></ion-back-button> </ion-buttons> <ion-title>发布任务</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form (ngSubmit)="postTask()">
  <ion-item>
    <ion-label>请选择类型</ion-label>
    <ion-select value="1" name="category" [(ngModel)]="category" interface="action-sheet">
      <ion-select-option *ngFor="let i of categories" value="{{i.id}}">{{i.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>支持设备</ion-label>
    <ion-select value="1" name="platform" [(ngModel)]="platform" interface="action-sheet">
      <ion-select-option *ngFor="let i of platforms" value="{{i.id}}">{{i.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-label color="medium"></ion-label>
  <ion-item class="data">
    <ion-label>任务标题</ion-label>
    <ion-input name="title" [(ngModel)]="postData.title" placeholder="请输入任务标题" required clearInput></ion-input>
  </ion-item>
  <ion-item class="data">
    <ion-label>项目名称</ion-label>
    <ion-input name="name" [(ngModel)]="postData.name" placeholder="请输入项目名称" required clearInput></ion-input>
  </ion-item>
  <ion-item class="data">
    <ion-label>任务数量</ion-label>
    <ion-input name="quantity" [(ngModel)]="postData.quantity" type="number" placeholder=""> </ion-input>
  </ion-item>
  <ion-item class="data">
    <ion-label>接单时间</ion-label>
    <ion-input name="applydays" [(ngModel)]="applydays" type="number" placeholder=""> </ion-input>
  </ion-item>
  <ion-item class="data">
    <ion-label>审核天数</ion-label>
    <ion-input name="approvedays" [(ngModel)]="postData.approvedays" type="number" placeholder=""> </ion-input>
  </ion-item>
  <ion-item class="data">
    <ion-label>展现天数</ion-label>
    <ion-input name="showdays" [(ngModel)]="postData.showdays" type="number" placeholder="请选择"> </ion-input>
  </ion-item>
  <ion-item class="data">
    <ion-label>悬赏单价</ion-label>
    <ion-input name="price" [(ngModel)]="postData.price" type="number" placeholder="最低出价0.5元" required clearInput></ion-input>
  </ion-item>
  <ion-item class="data">
    <ion-label>预付赏金</ion-label>
    <ion-input name="prepaid" [(ngModel)]="postData.prepaid" type="number" placeholder="服务费，成交额15%" required clearInput></ion-input>
  </ion-item>

  <ion-label color="medium">任务说明</ion-label>
  <ion-item class="desc">
    <ion-textarea name="description" [(ngModel)]="postData.description" placeholder="请输入任务介绍" autoGrow clearOnEdit>
    </ion-textarea>
  </ion-item>

  <ion-label color="medium"></ion-label>
  <ion-item class="data">
    <ion-label>链接</ion-label>
    <ion-input placeholder="请输入链接，http开头" required clearInput></ion-input>
  </ion-item>
  <ion-item class="data">
    <ion-label>步骤1</ion-label>
    <ion-input name="desc" placeholder="请输入文字" [(ngModel)]="guide.desc" required clearInput></ion-input>
    <ion-icon name="image-sharp" (click)="fileUpload.click()"></ion-icon>
  </ion-item>
    <input class="ion-hide" type="file" (change)="uploadPhoto($event)" #fileUpload>

  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <ion-button size="small" color="danger" shape="round">添加图文步骤</ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button size="small" color="danger" shape="round">添加验收图文</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item class="data">
    <ion-label>文字验收</ion-label>
    <ion-input placeholder="要求对方输入手机号、昵称、ID等" required clearInput></ion-input>
  </ion-item>

  <ion-item class="policy" color="undefined">
    <ion-checkbox size="small" color="primary" class="ion-no-margin" checked></ion-checkbox>
    <ion-label color="medium">我已阅读并同意遵守《发布规则》的全部内容</ion-label>
  </ion-item>

  <ion-item class="btn">
    <ion-button expand="full" size="large" class="preview">
      <ion-icon name="eye-outline"></ion-icon>
      浏览 
    </ion-button>
    <ion-button expand="full" size="large" class="publish" type="submit">
      申请发布
    </ion-button>
  </ion-item>
  </form>
</ion-content>
