<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>竞价</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item>
    <ion-label class="label">竞价任务</ion-label>
    <ion-select cancelText="取消" name="post" [(ngModel)]="post" interface="action-sheet">
      <ion-select-option *ngFor="let i of myposts" value="{{i.id}}">{{i.title}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label class="label">出价</ion-label>
    <ion-input type="number" placeholder="当前最低出价{{min}}元" [(ngModel)]="myBid"></ion-input>元
  </ion-item>
  <ion-item class="position">
    <ion-label class="label">竞拍位置</ion-label>
    <ion-input class="text-right" type="number" disabled="true">{{position}}</ion-input>
  </ion-item>
  <ion-label><ion-text color="medium">竞价记录</ion-text></ion-label>
  <ion-item class="list-item" *ngFor="let i of bids">
    <div slot="start">
      <p>{{i.task.title}}</p>
      <ion-text color="medium">{{i.date | date:'yyyy年MM月dd日 HH:mm:ss' :'GMT'}}</ion-text>
    </div>
    <ion-text slot="end" color="danger">{{i.bid}}元</ion-text>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button class="left" expand="full" color="light">一口价</ion-button>
  <ion-button class="right" expand="full" (click)="bid()">参与竞价</ion-button>
</ion-footer>
