<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">邀请好友</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div class="poster">
    <ion-thumbnail routerLink="/refer/qr">
      <img src="../../assets/img/qr.png">
    </ion-thumbnail>
    <ion-text color="light">点击二维码，生成专属推广页</ion-text>
  </div>

  <div>
    <ion-button disabled class="offset">分享到</ion-button>
    <div class="row">
      <div>
        <ion-thumbnail>
          <img src="../assets/img/wx_moment.png">
        </ion-thumbnail>
        <ion-label>朋友圈</ion-label>
      </div>
      <div>
        <ion-thumbnail>
          <img src="../assets/img/qq_moment.png">
        </ion-thumbnail>
        <ion-label>QQ空间</ion-label>
      </div>
      <div>
        <ion-thumbnail>
          <img src="../assets/img/wx_friends.png">
        </ion-thumbnail>
        <ion-label>微信好友</ion-label>
      </div>
      <div>
        <ion-thumbnail>
          <img src="../assets/img/qq_friends.png">
        </ion-thumbnail>
        <ion-label>QQ好友</ion-label>
      </div>
    </div>
  </div>

  <div>
    <ion-button disabled class="offset">推广好友提成</ion-button>
    <div class="row">
      <div>
        <ion-text color="danger ion-text-center"><h2>8%</h2></ion-text>
        <ion-text>一级好友提成</ion-text>
      </div>
      <div>
        <ion-text color="danger ion-text-center"><h2>2%</h2></ion-text>
        <ion-text>二级好友提成</ion-text>
      </div>
    </div>
    <ion-button expand="block" class="btn" routerLink="/friend">查看我的好友（{{count1 + count2}}人）</ion-button>
  </div>

  <div>
    <ion-button disabled class="offset">登录网址</ion-button>
    <div class="row">
      <div>
        <ion-text>若APP无法下载/注册/推广，请使用登录网址注册推广。</ion-text>
      </div>
    </div>
    <ion-button (click)="copy()" expand="block" class="btn">复制网址</ion-button>
  </div>

  <div>
    <ion-button disabled class="offset">推广说明</ion-button>
        <ion-text *ngIf="node" [innerHTML]="node.body"></ion-text>
  </div>
</ion-content>
