ion-label{
  display: block;
  margin: 16px 10px;
  font-size: 14px;
}
.price{
  font-size: 32px;
  span{
    margin-right: 8px;
  }
}
ion-item{
  --padding-start: 16px;
  --padding-end: 16px;
}
ion-thumbnail{
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
ion-button{
  margin: 16px;
}
