<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>充值</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-label color="medium">充值金额</ion-label>
  <ion-item>
    <ion-input class="price" color="danger" type="number" [(ngModel)]="amount"><span>¥  </span> </ion-input>
    <ion-text slot="end">元</ion-text>
  </ion-item>

  <ion-label color="medium">选择充值方式</ion-label>
  <ion-radio-group value="ali">
    <ion-item class="input">
      <ion-icon name="logo-wechat" color="success"></ion-icon>
      <ion-label>
        微信支付
      </ion-label>
      <ion-radio slot="end" value="ali"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-button expand="block" (click)="topup()">立即充值</ion-button>
</ion-content>
