<ion-content class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar class="ion-no-padding" placeholder="任务标题、编号、用户ID、昵称"></ion-searchbar>
      </ion-col>
      <ion-col class="support ion-align-items-center" size="auto">
        <ion-thumbnail class="">
          <img src="../assets/img/support.png">
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item class="bid">
    <ion-grid>
      <ion-row>
        <ion-col class="item" size="6">
          <ion-row>
            <ion-col size="auto">
              <ion-thumbnail>
                <img src="../../assets/img/she.png">
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <ion-text class="title">任务名称</ion-text>
              <ion-text class="info">任务类别|人物标签</ion-text>
              <ion-text class="info">编号: 12345</ion-text>
              <ion-text class="price">+55.55元</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="item" size="6">
          <ion-row>
            <ion-col size="auto">
              <ion-thumbnail>
                <img src="../../assets/img/she.png">
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <ion-text class="title">任务名称</ion-text>
              <ion-text class="info">任务类别|人物标签</ion-text>
              <ion-text class="info">编号: 12345</ion-text>
              <ion-text class="price">+55.55元</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="item" size="6">
          <ion-row>
            <ion-col size="auto">
              <ion-thumbnail>
                <img src="../../assets/img/she.png">
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <ion-text class="title">任务名称</ion-text>
              <ion-text class="info">任务类别|人物标签</ion-text>
              <ion-text class="info">编号: 12345</ion-text>
              <ion-text class="price">+55.55元</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="item" size="6">
          <ion-row>
            <ion-col size="auto">
              <ion-thumbnail>
                <img src="../../assets/img/she.png">
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <ion-text class="title">任务名称</ion-text>
              <ion-text class="info">任务类别|人物标签</ion-text>
              <ion-text class="info">编号: 12345</ion-text>
              <ion-text class="price">+55.55元</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="feature">
  </ion-item>

  <ion-item class="alert">
  </ion-item>

  <ion-item class="task">
  </ion-item>
</ion-content>
