<ion-content class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-searchbar class="ion-no-padding ion-padding-end" placeholder="任务标题、编号、用户ID、昵称"></ion-searchbar>
      </ion-col>
      <ion-col class="support ion-align-items-center ion-no-padding" size="auto">
        <ion-thumbnail class="">
          <img src="../assets/img/support.png">
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item class="bid">
    <ion-grid>
      <ion-row>
        <ion-col [routerLink]="['/detail']" [queryParams]="{id: i.id}" class="item" size="6" *ngFor="let i of bids">
          <ion-row>
            <ion-col size="auto">
              <ion-avatar>
                <img *ngIf="i.owner.avatar; else elseBlock" [src]="envs.imgUrl + i.owner.avatar">
                <ng-template #elseBlock>
                  <img src="../assets/img/she.png">
                </ng-template>
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-text class="title">{{i.title}}</ion-text>
              <ion-text class="info">{{i.category.name}}</ion-text>
              <ion-text class="info">编号: {{i.id}}</ion-text>
              <ion-text class="price">+{{i.price}}元</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="feature">
    <ion-grid>
      <ion-row>
        <ion-col size="4" [routerLink]="i.link" *ngFor="let i of features">
          <ion-thumbnail>
            <img [src]="i.img">
          </ion-thumbnail>
          <ion-label>{{i.name}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="alert">
    <div>
      <ion-icon class="speaker" size="small" name="volume-medium-outline"></ion-icon>
      <ion-text><p>有效好友达到100，领取补贴现金200元(共计2...)</p></ion-text>
      <ion-icon class="close" size="small" name="close"></ion-icon>
    </div>
  </ion-item>

  <ion-item class="task">
    <ion-list>
      <ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="bar"></div>
              <h3>推荐任务</h3>
            </ion-col>
            <ion-col size="auto">
              <h5 routerLink="/tabs/hall">更多</h5>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list-header>

      <ion-item *ngFor="let i of tasks">
        <ion-grid>
          <ion-row>
            <ion-col class="pic" size="auto">
              <ion-avatar>
                <img *ngIf="i.owner.avatar; else elseBlock" [src]="envs.imgUrl + i.owner.avatar">
                <ng-template #elseBlock>
                  <img src="../assets/img/she.png">
                </ng-template>
              </ion-avatar>
              <ion-label>{{i.owner.username}}</ion-label>
            </ion-col>
            <ion-col class="text">
              <ion-text class="title" [routerLink]="['/detail']" [queryParams]="{id: i.id}" >{{i.title}}</ion-text>
              <ion-text class="info">{{i.countApplies}}人已赚|剩余:{{i.remain}}</ion-text>
              <div>
                <ion-badge class="reg">{{i.category.name}}</ion-badge>
                <ng-container *ngFor="let j of i.tag">
                  <ion-badge class="save">{{j.name}}</ion-badge>
                </ng-container>
              </div>
            </ion-col>
            <ion-col class="price" size="auto">
              <div *ngIf="i.sticky">
                <ion-text class="sticky"><span>置顶</span></ion-text>
              </div>
              <ion-text class="num"><span>{{i.price}}元</span></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-list>
  </ion-item>
</ion-content>
