ion-badge{
  border-radius: .25em;
  font-weight: normal;
  margin-right: 4px;
}
ion-badge.reg{
  background: rgba(0, 114, 255, 0.1);
  color: #0072FF;
}
ion-badge.save{
  background: rgba(0, 208, 36, 0.1);
  color: #00D024;
}
ion-content{
  --background: #F5F5F5 url("../../assets/img/bg.png") top/contain no-repeat;
  ion-grid{
    --ion-grid-padding: 0;
  }
  >ion-item{
    margin-bottom: 10px;
  }
  ion-item{
    --border-radius: .25em;
  }
  ion-searchbar{
    --background: #fff;
  }
  .support{
    display: flex;
    ion-thumbnail{
      --size: 32px;
    }
  }

  .bid{
    .item:nth-child(odd){
      border-right: 1px solid #E6E6E6;
      border-bottom: 1px solid #E6E6E6;
    }
    .item:nth-child(even){
      border-bottom: 1px solid #E6E6E6;
    }
    .item{
      ion-row{
        ion-avatar{
            width: 32px;
            height: 32px;
        }
        ion-text{
          display: block;
        }
        .text{
            overflow: hidden;
        }
        .title{
          font-size: 14px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .info{
          font-size: 12px;
          color: #707070;
        }
        .price{
          color: #FF3B2F;
        }
      }
    }
  }

  .feature{
    ion-col:last-child{
      margin-bottom: 20px;
    }
    ion-col{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      ion-thumbnail{
        --size: 38px;
        margin-bottom: 6px;
      }
      ion-label{
          font-size: 14px;
      }
    }
  }
  
  .alert{
    --padding-start: 12px;
    height: 40px;
    ion-slides{
      width: 100%;
      margin-right: 10px;
    }
    .speaker{
      color: #FF3B2F;
      margin-inline-end: 10px;
    }
    .message{
      width: 100%;
      p{
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
      }
    }
    .close{
      color: #787878;
    }
  }
  
  .task{
    ion-list{
      width: 100%;
      padding: 0 10px;
      ion-list-header{
        padding-left: 0;
        ion-col{
            padding: 5px 0;
        }
        .bar{
          background-color: #0072FF;
          width: 4px;
          height: 38%;
          border-radius: .5em;
          margin-right: 6px;
        }
        h5{
          font-size: 14px;
        }
        ion-col{
        display: flex;
        align-items: center;
          h3, h5, div{
            display: inline-block;
          }
          h3, h5{
            margin-top: 12px;
            margin-bottom: 12px;
          }
          h5, ion-icon{
            color: #787878;
          }
        }
      }
      >ion-item{
        padding: 10px 0;
        border-top: 1px solid #E6E6E6;
        .pic{
          width: 68px !important;
          ion-label{
            color: #787878;
            text-align: center;
            font-size: 12px;
            width: 48px;
          }
        }
        .text{
            overflow: hidden;
          ion-text{
            display: block;
            margin-bottom: 3px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
          }
          div{
            margin-top: 8px;
          }
          .info{
            color: #888888;
            font-size: 12px;
          }
        }
        .price{
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          div{
            background: url("../../assets/img/bookmark.png") round;
            width: 38px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          span{
            color: #FF3B2F;
          }
          .sticky{
            font-size: 12px;
          }
          .num{
            margin-top: 12px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
