<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>领地</ion-title>
    <ion-text color="medium" slot="end" routerLink="/terms" [queryParams]="{id: 7}">规则</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content refreshingText="下拉回到主城"></ion-refresher-content>
</ion-refresher>

  <ng-container *ngIf="land && posts">
  <ion-item class="cells">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let i of posts">
          <ion-thumbnail routerLink="/land/cell" [queryParams]="{id:i.id}" *ngIf="i; else elseBlock1">
            <img [src]="url + i.cover">
          </ion-thumbnail>
        </ion-col>
        <ng-template #elseBlock1>
          <ion-icon routerLink="/land/occupy" [queryParams]="{id:land.id}" size="large" color="medium" name="add-outline"></ion-icon>
        </ng-template>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="info" *ngIf="land && land.id !== 1">
    <ion-avatar *ngIf="land.owner">
      <img [src]="url + land.owner.avatar">
    </ion-avatar>
    <div class="name">
      <ion-text color="medium">
        {{area}}
      </ion-text>
      <ion-text *ngIf="land.owner">
        {{land.owner.username}}
      </ion-text>
    </div>
    <div slot="end" class="price">
      <ion-text>
        领地价格
      </ion-text>
      <ion-text color="danger">
        {{land.price / 100}}
      </ion-text>
    </div>
  </ion-item>
  </ng-container>

  <ng-container *ngIf="!posts">
  <ion-item class="cells">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let i of [].constructor(35)">
          <ion-icon  size="large" color="medium" name="add-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  </ng-container>

  <ion-item class="btn">
    <ion-button expand="full" size="large" class="other" (click)="openPicker()">
      其它领地
    </ion-button>
    <ng-container *ngIf="land">
    <ion-button *ngIf="land.id == 1 || (land.owner && land.owner.id == userData.id)" expand="full" size="large" class="buy" routerLink="/land/my">
      我的领地
    </ion-button>
    <ion-button *ngIf="land.id !=1 && (!land.owner || (land.owner && land.owner.id != userData.id))" expand="full" size="large" class="buy" (click)="buyIt()">
      我要成为领主
    </ion-button>
    </ng-container>
  </ion-item>
</ion-content>
