<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">领地交易大厅</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div *ngFor="let i of sales">
    <ion-item class="head">
      <ion-thumbnail slot="start">
        <img src="../assets/img/locate.png">
      </ion-thumbnail>
      <ion-label>{{i.name}}</ion-label>
      <ion-text slot="end" color="medium">36分钟前</ion-text>
    </ion-item>
    <div class="pk" routerLink="/pay" [queryParams]="{total: i.price}">
      <div class="peer" *ngIf="i.owner">
        <ion-avatar slot="start">
          <img [src]="url + i.owner.avatar">
        </ion-avatar>
        <ion-text class="name">{{i.owner.username}}</ion-text>
        <ion-text color="medium">原购买价格</ion-text>
        <ion-text class="price">{{i.prePrice}}</ion-text>
      </div>
      <div class="vs">
        <ion-button fill="outline" disabled="true" color="danger" size="small">调整价格</ion-button>
        <ion-icon name="navigate" color="danger"></ion-icon>
      </div>
      <div class="peer" *ngIf="i.owner">
        <ion-avatar slot="start">
          <img [src]="url + i.owner.avatar">
        </ion-avatar>
        <ion-text class="name">{{i.owner.username}}</ion-text>
        <ion-text color="medium">现出售价格</ion-text>
        <ion-text class="price">{{i.price}}</ion-text>
      </div>
    </div>
  </div>

</ion-content>
