ion-header{
  background: linear-gradient(90deg, #0098FF 0%, #0072FF 100%);
}
ion-toolbar{
  --background: none;
}
ion-content{
  --background: linear-gradient(90deg, #0098FF 0%, #0072FF 100%);
  >div{
    border-radius: .25em;
    overflow: hidden;
    padding: 8px 16px;
    margin: 10px 0;
    background-color: #ffffff;
    .head{
      font-size: 14px;
      ion-thumbnail{
        width: 12px;
        height: 14px;
        margin-right: 6px;
      }
    }
    .pk{
      display: flex;
      justify-content: space-around;
      margin: 10px;
      .peer{
        width: 30%;
        white-space: nowrap;
        >*{
          margin: 5px 0;
        }
        text-align: center;
        ion-avatar{
          margin: auto;
          z-index: 1;
        }
        ion-text{
          display: block;
          font-size: 10px;
        }
        .name{
          font-size: 14px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .price{
          font-size: 18px;
        }
      }
      .crown{
        --size: 20px;
        margin: auto !important;
        margin-bottom: -5px !important;
        z-index: 999;
        position: relative;
      }
      .vs{
        width: 30%;
        text-align: center;
        padding-top: 8px;
        ion-button{
          display: block;
          margin-bottom: 35px;
        }
        ion-icon{
          transform: rotate(45deg);
        }
      }
    }
  }
}
