<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button color="dark" text=""></ion-back-button> </ion-buttons> <ion-title>出售股权</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="publish()" [formGroup]="form">
  <ion-item class="data">
    <ion-label>数量</ion-label>
    <ion-input name="title" type="number" pattern="^[0-9]*$" formControlName="equity" placeholder="请输入出售数量" required clearInput>
      <ion-text *ngIf="equity.invalid && equity.errors.min" class="hint" color="danger">请输入大于0的整数</ion-text>
      <ion-text *ngIf="equity.invalid && equity.errors.pattern && !equity.errors.max && !equity.errors.min" class="hint" color="danger">请输入整数</ion-text>
      <ion-text *ngIf="equity.invalid && equity.errors.max" class="hint" color="danger">最多能出售{{max}}个</ion-text>
    </ion-input>
  </ion-item>
  <ion-item class="data">
    <ion-label>价格</ion-label>
    <ion-input readonly value="{{price}}"></ion-input>
  </ion-item>
  <ion-button [disabled]="form.invalid" expand="full" size="large" class="publish" type="submit">
      发售
  </ion-button>
  </form>
</ion-content>
